<h2><%= @video_game.name %></h2>


<% #written reviews and a star/average rating at top
# links to varying types of game content %>

<a href="/video_games/<%=@video_game.id%>/edit">Edit Video Game</a>
